/bin/
.metadata/.plugins/org.eclipse.core.resources/.root/2.tree
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2015/5/19/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2015/5/19/refactorings.index
3.tree
.project
.classpath
.settings/org.eclipse.core.resources.prefs
org.eclipse.jdt.core.prefs
depoy/ext/RXTXcomm.jar
depoy/ext/RXTXcomm_windows.jar
depoy/ext/RXTXcomm_mac.jar